<style>
body  {
  background-image: url("https://66.media.tumblr.com/27e2990558896b9261e7462f4cb6f6d2/tumblr_op2p10pcJE1wos4z2o1_250.jpg");
}
</style>

<h1 align="center"><FONT FACE="impact" SIZE=15 COLOR="red">
 LOCAL PET APP
</FONT></h1>
<div class="landing">
  <ul>
    <li><h1><%= link_to 'Places', places_path %></h1></li>
    <li><h1><%= link_to 'Create places', new_place_path%></h1></li>
    <li><h1><%= link_to 'Users', users_path, action: :index %></h1></li>
    <li><h1><%= link_to 'Create user', new_user_path %></h1></li>
  </ul>
    <div align="right">
      <img src="http://www.capecodpetresort.com/wp-content/uploads/banner-pets-dog-cat-boarding-1000x451.png"
      width= 800px;
    </div>

</div>
