@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
.tittle {
  background-image: url("https://66.media.tumblr.com/27e2990558896b9261e7462f4cb6f6d2/tumblr_op2p10pcJE1wos4z2o1_250.jpg");

}

.list{
display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-header{
  display: flex;
  justify-content: space-between;
}

.carrusel{
  display: flex;
width: 50%;
justify-content: center;
}
